<form action="GiaiPhuongTrinhBacNhat">
    <p>
        <label >He so a:</label>
        <input type="text" name="hesoA">
    </p>
    <p>
        <label >He so b:</label>
        <input type="text" name="hesoB">
    </p>
    <p>
        <input class="btn btn-success" type="submimt" value="send">
    </p>
</form>
<h2>@ViewBag.message</h2>