<div>
<h1>Xin chao</h1>
<form asp-action="Creat">
    <label >Ma Sinh Vien</label>
    <Input type="number" name="StudentId"  value="1">
    <br>
    <label for="">Ho va ten</label>
    <input type="text" name="StudentName" value="Nguyen Van a">
    <br>
    <label for="">Tuoi</label>
    <input type="number" name="Age" value="18">
    <br>
   
</form>
<h2>@ViewBag.TT</h2>
</div>